@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  margin-top: 120px;
}

@media (max-width: 768px) {
  section {
    margin-top: 80px;
  }
}

.gradient-buttonTwo,
.gradient-button {
  padding: 12px 20px;
  border-radius: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  background-color: #a36316;
  color: white;
}

.gradient-button:hover {
  color: black;
}

.gradient-button.mobile:hover {
  color: white;
  border-color: white;
}

.gradient-buttonTwo {
  border: 2px solid #a36316;
  background-color: #a36316;
  color: white;
}

.gradient-buttonTwo:hover {
  border: 2px solid transparent;
  background-color: black;
}

@media (max-width: 768px) {

  .gradient-button,
  .gradient-buttonTwo {
    padding: 8px 16px;
    font-size: 16px;
  }
}